header{
    height: 64px;
    background: #1976D2;
}

.logo{
    width: 200px;
}

.titulo{
    text-align: center;
}

.centrar{
    text-align: center;
}
<<<<<<< HEAD

.myFooter{
    height: 100px;
    background-color: black;
}
=======
>>>>>>> b7d04c4 (test)
